{% extends "base.html" %}
{% block body %}
<h1>To Do App</h1>
<h2>Add Item</h2>
<style>
    .add-form {
        border: 1px solid black;
        padding: 10px;
    }
</style>
<form class="add-form">
  <p>
      <label for="title">Title</label>
      <input type="text" name="title" id="title">
  </p>
  <p>
      <input type="submit" value="Add">
  </p>
</form>
<h2>To Do List</h2>
<div class="todo-list"></div>

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.0.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/lodash/4.13.1/lodash.min.js"></script>
<script>
    $(document).ready(function(){
        $.get('api/todoitem', function(data) {
            // populate the list
            var result = $('<ul class="list"></ul>');
            console.log(data);
            _.each(data, function(item) {
               result.append('<li>' + item['title'] + '</li>');
            });
            $('.todo-list').html(result);
        }, 'json');

        // adding items
        $('.add-form').submit(function(e) {
            e.preventDefault();
            var title = $('#title');
            if ($.trim(title.val()) != '') {
                $.post('api/todoitem/', { title: title.val() }, function (data) {
                    $('.list').prepend('<li>' + title.val() + '</li>');
                });
            } else {
                alert('Title is required');
            }
        });
    });
</script>
{% endblock %}